[submodule "roboy_memory"]
	path = roboy_memory
	url = https://github.com/Roboy/roboy_memory.git
[submodule "RoboyUnityFace"]
	path = RoboyUnityFace
	url = https://github.com/Roboy/RoboyUnityFace.git
[submodule "roboy_vision"]
	path = roboy_vision
	url = https://github.com/Roboy/roboy_vision.git
[submodule "roboy_speech_synthesis"]
	path = roboy_speech_synthesis
	url = https://github.com/Roboy/roboy_speech_synthesis.git
[submodule "roboy_speech_recognition"]
	path = roboy_speech_recognition
	url = https://github.com/Roboy/roboy_speech_recognition.git
[submodule "roboy_cognition_manager"]
	path = roboy_cognition_manager
	url = https://github.com/Roboy/roboy_cognition_manager.git
[submodule "roboy_dialog"]
	path = roboy_dialog
	url = https://github.com/Roboy/roboy_dialog.git
[submodule "roboy_generative_nlp"]
	path = roboy_generative_nlp
	url = https://github.com/Roboy/roboy_generative_nlp.git
[submodule "roboy_intents_classification"]
	path = roboy_intents_classification
	url = https://github.com/Roboy/roboy_intents_classification.git
[submodule "roboy_communication"]
	path = roboy_communication
	url = https://github.com/Roboy/roboy_communication.git
